:root{
    --btn-color: rgb(204, 114, 10);
}

*{
    box-sizing: border-box;
    outline: none;
    border: none;
}

.btn-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn{
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 0 .5rem;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid var(--btn-color);
    background-color: var(--btn-color);
    color: white;
    cursor: pointer;
    transition: all .6s ease-in-out;
}

.btn:hover{
    color: var(--btn-color);
    background-color: white;
    border-color: var(--btn-color);

}

.disabled{
    text-decoration: line-through;
    cursor: not-allowed;
    color: rgba(255, 0, 0, 1);
}

.status{
    color:red;
}