:root {
  --btn-color: #cc720a;
  --shadow-color: #0000004d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body,
main {
  display: flex;
  flex-direction: column;
  min-width: 100dvw;
  min-height: 100dvh;
}

main {
  padding: 1rem;
  gap: 1rem;
}

.disabled {
  text-decoration: line-through;
  cursor: not-allowed;
  color: rgba(255, 0, 0, 1);
}

/* Card */
.card-container {
  padding: 2rem 0;
  display: flex;
  gap: 10rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  gap: 1rem 0;
  background: linear-gradient(135deg, #51ff51, #ffa53e);
  color: white;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0px 2px 6px var(--shadow-color);
  max-width: 350px;
  min-width: 300px;
  min-height: 350px;
  justify-content: center;
  transition: all 0.6s ease-in-out;
  flex: 1 1 350px;
}

div.empty{
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

p.empty{
  text-align: center;
  color: gray;
  font-weight: bold;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card-img {
  padding-top: 10px;
  transition: all 0.6s ease-in-out;
}

.card:hover .card-img {
  transform: scale(1.05);
}

.card-header{
  position: relative;
}

.remove-btn{
  position: absolute;
  right: .75rem;
  top: .75rem;
  color: red;
  font-weight: bold;
  z-index: 10;
  font-size: 2rem;
  visibility: hidden;
  opacity: 0;
}

.remove-btn.visible{
  visibility: visible;
  opacity: 1;

}

.remove-btn:hover{
  cursor: pointer;
}

.card-body {
  display: flex;
  gap: 0.1rem 0;
  font-weight: bold;
  flex-direction: column;
}

.card.disabled{
    cursor: not-allowed;
    text-decoration: none !important;
}

.card.disabled .img-fluid{
  filter: grayscale(1);
}

/* Image */
.img-fluid {
  width: 100%;
  height: 200px;
  border-radius: 12px;
}

/* Button */
.btn-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.btn {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid var(--btn-color);
  background-color: var(--btn-color);
  color: white;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.btn:hover {
  color: var(--btn-color);
  background-color: white;
  border-color: var(--btn-color);
  box-shadow: 2px 2px 2px var(--btn-color);
}

/* @keyframes staggered {
    0%{
        left: 0%;
    }

    100%{
        left: 100%;
    }
} */

.shake{
    animation: shake 3s ease-in-out 0s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0%);
  }
  25% {
    transform: rotate(10%);
  }
  50% {
    transform: rotate(-10%);
  }
  75% {
    transform: rotate(10%);
  }
  100% {
    transform: rotate(-10%);
  }
}

.status{
    color:red;
}